<div class="row panel panel-default">
  <div class="panel-body block">
    <div class="col-md-4 image">
      <img src="../../assets/profile.jpg" class="img img-responsive img-rounded full-width" />
    </div>
    <div class="col-md-4">
      <p>My name is Jacob Ochs. I am a 4th year student at Westmont College studying Computer Science. <br>I am currently seeking
        employment in the fields of Software Development and Web Development. For more info, feel free to contact me.
      </p>
      <br>

    </div>
    <div class="col-md-4">
      <ul style="text-align:left">
        <li><a href="mailto:jochs@westmont.edu">jochs@westmont.edu</a></li>
        <li><a target="_blank" href="../../assets/Jacob_Ochs_Resume_2018.pdf">Resume</a></li>
        <li><a href="https://www.linkedin.com/in/jacobochs" target="_blank">LinkedIn</a></li>
        <li><a href="https://www.github.com/j-ochs" target="_blank">Github</a></li>

      </ul>
      </div>
  </div>
</div>