
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a style="font-size:1.2; color:blueviolet" routerLink="home">Jacob Ochs</a></li>
    <li><a routerLink="home">Home</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="projects">Projects</a></li>
    <li><a>Contact</a></li>
  </ul>
</nav>

<div style="text-align:center">
  <h1 (click)="title='Well would ya look at that!'">
    {{title}}
  </h1>
<router-outlet></router-outlet>
<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <span class="copyright">Copyright &copy; Jacob Ochs 2018</span>
          </div>
          <div class="col-md-4">
              <ul class="list-inline social-buttons">
                  <li><a href="mailto:jochs@westmont.edu"><i class="fa fa-envelope"></i></a>
                  </li>
                  <li><a href="https://www.linkedin.com/in/jacobochs"><i class="fa fa-linkedin"></i></a>
                  </li>
                  <li><a href="https://www.github.com/j-ochs"><i class="fa fa-github"></i></a>
                  </li>
              </ul>
          </div>
          <!-- <div class="col-md-4">
              <ul class="list-inline quicklinks">
                  <li><a href="#">Privacy Policy</a>
                  </li>
                  <li><a href="#">Terms of Use</a>
                  </li>
              </ul>
          </div> -->
      </div>
  </div>
</footer>

<!-- colors: #00b7c7 , #4d0ce8 -->
