  <!-- Console -->
  <div class="code">
      <!-- <i class="fa fa-times-circle fa-2x" style="color:rgb(233, 83, 14)" aria-hidden="true"></i> -->
      <div class="console">
        <span class="cat" style="color:#0f0">jacob@ochs</span>
        <span class="cat" style="color:#0bc">~</span>
        <span class="cat" style="color:#ff0096">$</span>
        <p class="cat">cat about.json</p><br/>
        &gt; Jacob.origin<br/>
        <span class="answer">&nbsp;&nbsp;=&gt; "Lake Arrowhead, CA"<br/><br/></span>
        &gt; Jacob.education<br/>
        <span class="answer">&nbsp;&nbsp;=&gt; "Westmont College - Santa Barbara, CA"<br/><br/></span>
        &gt; Jacob.major<br/>
        <span class="answer">&nbsp;&nbsp;=&gt; "Computer Science"<br/><br/></span>
        &gt; Jacob.expectedGraduation<br/>
        <span class="answer">&nbsp;&nbsp;=&gt; "May 2018"<br/><br/></span>
        &gt; Jacob.interests<br/>
        <span class="answer">&nbsp;&nbsp;=&gt; ["rock climbing", "traveling", "coding", "baseball", "piano"]<br/><br/></span>
        &gt; Jacob.workExperience.latest<br/>
        <span class="answer">&nbsp;&nbsp;=&gt; Latest Work Experience<br/>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; company: "Esri"<br/>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; role: "Web App Developer Intern"<br/>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; startDate: "May 2017"<br/>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; endDate: "August 2017"<br/>
        <br/></span>
        &gt; Jacob.resume<br/>
        <span class="answer">&nbsp;&nbsp;=&gt; "<a target="_blank" href="../../ng-portfolio/assets/Jacob_Ochs_Resume_2018.pdf">resume2018.pdf</a>"<br/><br/></span>
        &gt; Jacob.email<br/>
        <span class="answer">&nbsp;&nbsp;=&gt; "<a target="_blank" href="mailto:jochs@westmont.edu">jochs@westmont.edu</a>"<br/><br/></span>
      </div>
    </div>

  <!-- <div style="width:100%; background-color:red">
    <img class="hidden-phone" src="../assets/profile.jpg">
    <p style="float:right">This is a paragraph about me and why you should stay on this webpage.</p>
  </div> -->
